@import '../variables';

header {
    padding-bottom: 10px;
}

.category-block {
    background: #f7f7f7;
    border-radius: 10px;
    // max-width: 300px;
    width: 100%;
    padding: 10px 15px;

    // margin-right: 12px;
    margin-left: 12px;

    -webkit-box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);
    -moz-box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);
    box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);

    &__title {
        font-weight: 700;
    }
    
    .delete-button {
        background: transparent;
        border: 0;
        height: auto;
    }

    button:hover {
        opacity: 0.8;
    }
}