@import '../variables';

header {
    padding-bottom: 10px !important;
}

.add-description {
    color: $primary-color;
    cursor: pointer;
}

.delete-description {
    color: red;
    cursor: pointer;
}

.offer-block {
    margin-bottom: 40px !important;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    width: 320px;
    padding: 10px;
    margin: 12px;
    // border: 1px solid #d1cfcf;
    border-radius: 10px;

    background: #f7f7f7;

    -webkit-box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);
    -moz-box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);
    box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);

    &__image {
        align-self: center;
        img {
            max-height: 200px;
        }
    }

    &__text {
        margin-left: 10px;
        margin-top: 10px;
        // color: #FFFFFF;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        h3 {
            font-weight: 600;
            margin: 15px 0;
        }
        p {
            margin: 2px;
        }

        &-portfolio {
            color: $primary-color;
            font-weight: 500;
            text-decoration: none;
            align-self: flex-end;

            margin: 25px 20px 10px 0;

            &:hover {
                color: $primary-color;
                opacity: 0.7;
            }
        }
    }

    .green-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: green;
    }
    .red-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: red;
    }
    .delete-button {
        background: transparent;
        border: 0;
        height: auto;

        &:hover {
            opacity: 0.8;
        }

        i {
            color: red;
        }
    }
}