@import 'variables';

header {
    background-color: #909090;
    padding-bottom: 0 !important;

    @media (min-width: 768px) {
        background: #f7f7f7;
    }
}
.header-container {
    // padding: 25px 0;
    display: flex;

    .header-image__container {
        width: 40%;
        margin-top: auto;
        display: none;
        
        .header-image {
            max-height: 425px;
            width: auto;
        }

        @media (min-width: 768px) {
            display: block;
        }
    }

    .header-text__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 50px 0 50px 100px;

        background-image: url('../resources/images/header-portrait.png');
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;

        .header-text {
            margin-bottom: 50px;

            h1 {
                margin-bottom: 25px;
                // color: #8F008F;
            }

            p {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
        
        @media (min-width: 768px) {
            background-image: none;
            color: #000000;
        }
    }
}

.about_me {
    &-text__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            line-height: 30px;
            margin: 0;
        }
    }

    &-img__container {
        display: flex;
        justify-content: center;

        img {
            margin-top: 25px;
            max-width: 100%;
        }

        @media (min-width: 992px) {
            justify-content: flex-end;
            img {
                margin-top: 0;
            }
        }
    }
}

.offer {

    &-block {
        margin-bottom: 40px !important;
        display: flex;
        flex-direction: column;
        max-height: 500px;
        width: 320px;
        padding: 10px;
        margin: 12px;
        // border: 1px solid #d1cfcf;
        border-radius: 10px;

        background: #f7f7f7;

        -webkit-box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);
        -moz-box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);
        box-shadow: 21px 13px 28px 0px rgba(233, 233, 233, 1);

        &__image {
            align-self: center;
            img {
                max-height: 200px;
            }
        }

        &__text {
            margin-left: 10px;
            margin-top: 10px;
            // color: #FFFFFF;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            h3 {
                font-weight: 600;
                margin: 15px 0;
            }
            p {
                margin: 2px;
            }

            &-portfolio {
                color: $primary-color;
                font-weight: 500;
                text-decoration: none;
                align-self: flex-end;

                margin: 25px 20px 10px 0;

                &:hover {
                    color: $primary-color;
                    opacity: 0.7;
                }
            }
        }
    }
}

.portfolio {
    h2 {
        margin-bottom: 25px;
    }
    

    &__carousel-item {
        display: flex !important;
        justify-content: space-around;

        @media(min-width: 576px) {
            justify-content: space-between;
        }

        img {
            width: auto;
            height: 250px;
            align-self: center;

            @media(min-width: 400px) {
                height: 300px;
            }

            @media(min-width: 480px) {
                height: 350px;
            }

            @media(min-width: 576px) {
                height: 175px;
            }
            
            @media(min-width: 768px) {
                height: 150px;
            }

            @media(min-width: 992px) {
                height: 200px;
            }

            @media(min-width: 1200px) {
                height: 250px;
            }
            @media(min-width: 1200px) {
                height: 275px;
            }
        }

    }
}