// @import 'global';

.navbar {
    position: fixed;
    transition: top 1s;
    width: 100%;
    height: 75px;
    z-index: 2137;
    padding: 20px 0;
    background: #4d4b4c;
    border-bottom: 1px solid #302f30;
    color: #FFFFFF;

    .row{
        width: 100%;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        li {
            margin: 0 20px;
            a {
                text-decoration: none;
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 600;    
            }
            a:hover {
                opacity: 0.6;
            }
        }
    }
}